{% extends "base.html" %}

{% block title %}
Tutor Home
{% endblock title %}

{% block content %}
<h1>Tutor Home</h1>
<ul>
    {% for grade in grades %}
    <hr>
        <li>
            <h1>{{ grade.title }}</h1>
            <p>{{ grade.description }}</p>
            <h2>Units</h2>
            <ul>
                {% for unit in grade.units.all %}
                    <li>
                        <h3>Unit {{ unit.unit_id }} - {{ unit.title }}</h3>
                        <p>{{ unit.description }}</p>
                        <h4>Problem Examples:</h4>
                        <ul>
                            {% for problem in unit.problems.all %}
                                    <li>
                                        <h4>{{ problem.question }}</h4>
                                        <p>{{ problem.answer }}</p>
                                    </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

{% endblock content %}